* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body,
html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.contenedor {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.sidebar {
  width: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  border-right: 1px solid #ddd;
  overflow-y: auto;
}

.perfil {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.perfil img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.perfil-info {
  flex-grow: 1;
}

.perfil-iconos {
  display: flex;
  gap: 10px;
}

.perfil-iconos i {
  color: #666;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.perfil-iconos i:hover {
  color: #333;
}

.boton-chat-contenedor {
  display: flex;
  justify-content: center;
}

.boton-chat {
  padding: 10px;
  background-color: #a491d2;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 97%;
  margin-bottom: 10px;
}

.contactos {
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.contacto {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.contacto img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contacto-info {
  display: flex;
  flex-direction: column;
}

.contacto-info .nombre {
  font-weight: bold;
  color: #444749;
  font-size: 16px;
  padding: 4px;
}

.contacto-info .mensaje {
  font-size: 10px;
  color: #828485;
  padding: 4px;
}

.centro-de-pagina {
  background-color: #e8ebe4;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}

.intro .icono {
  width: 33%;
}

.intro h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: #1b1f21;
  margin-bottom: 10px;
}

.intro p {
  font-size: 14px;
  color: #444749;
  max-width: 80%;
  line-height: 1.5;
}
